<div class="h-100 d-flex justify-content-center align-items-center text-white fw-semibold">
  <button class="menu-btn p-4 mx-2 rounded btn btn-primary d-flex flex-column align-items-center"
    routerLink="/notes"><span class="fs-4 bi bi-journal-text my-1"></span><span class="text-center">Create
      Notes</span></button>
  <button class=" menu-btn p-4 mx-2 rounded btn btn-primary d-flex flex-column align-items-center" routerLink="/to-do">
    <span class="fs-4 bi bi-check2-square my-1"></span><span class="text-center">Create Todo's</span></button>
</div>
