<div class="h-100 d-flex flex-column">
  <div class="flex-grow-1">
    <div class="d-flex flex-column w-100 list-card bg-light py-3 px-4 my-3">
      <h5>Title</h5>
      <p class="fs-7">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, voluptatum!</p>
      <span class="note-list-close bi bi-x-lg"></span>
      <div class="note-list-overlay p-2"></div>
    </div>
    <!-- <div class="list-card bg-light py-3 px-4 my-3">hello i am one</div>
    <div class="list-card bg-light py-3 px-4 my-3">hello i am one</div>
    <div class="list-card bg-light py-3 px-4 my-3">hello i am one</div>
    <div class="list-card bg-light py-3 px-4 my-3">hello i am one</div>
    <div class="list-card bg-light py-3 px-4 my-3">hello i am one</div>
    <div class="list-card bg-light py-3 px-4 my-3">hello i am one</div>
    <div class="list-card bg-light py-3 px-4 my-3">hello i am one</div> -->

  </div>
  <div class="">
    <a class="border w-100 text-center btn btn-primary">Add Notes</a>
  </div>
</div>
