.menu-btn {
  transition: transform 0.35s ease-in-out;
  // transition: 0.35s ease-in-out;
  box-shadow: 0 3px 10px 1px gray;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px 1px gray;
  }
  &:active {
    transform: scale(0.9);
  }
}
