.light-bg-pic {
  background: url("../../images/sunsetbg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.dark-bg-pic {
  background: url("../../images/Untitled.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
